<ion-content>
  <div class="main">
    <div class="upper-box">
      <div class="thank-you">
        <ion-icon name="checkmark-circle"></ion-icon><br>
      </div>
      <h3 id="thank">Thank You</h3>
      <p id="request">Your booking request has been sent successfully.</p>
    </div>
    <div class="upper-box">
      <div class="booking-date">
        <div class="date"><p>BOOKING DATE</p></div>
        <div class="time"><p>TIME</p></div>
        <div class="print-date"><p>Today , 23 Aug 1980</p></div>
        <div class="print-time"><p>8:00 AM - 12:00PM</p></div>
      </div>
    </div>
    <div class="upper-box">
      <div class="chef-name">
        <div class="name">Chef's Name</div>
        <div class="title">Patricia Luke</div>
        <div class="city">Houston, Texas</div>
        <div class="image">
          <img src="../../../../assets/001.JPG" />
        </div>
      </div>
    </div>
    <div class="upper-box">
      <div class="booking-date">
        <div class="date"><p>BOOKING ID</p></div>
        <div class="time"><p>SERVICE PRICE</p></div>
        <div class="print-date"><p>23081980</p></div>
        <div class="print-time"><p>$100</p></div>
      </div>
    </div>
  </div>
</ion-content>

