<ion-list>
    <ion-item>
        <ion-label>View Chef Details</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Chef's Special Dishes</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Contact </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Print Bill</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Share Dish</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Favourite</ion-label>
        <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item color="danger" (click)="close()">
        <ion-label>Close</ion-label>
    </ion-item>
</ion-list>