ion-content{
    --background:#ffb000;
    min-height: 100%;
    .upper{
        width: 100%;
        height:200px;
        padding-top:50px;
        .icon{            
            display: flex;
            justify-content: center;
            align-items: center;            
            ion-icon{
                font-size: 100px;
                color:#fff;
            }
        }
        #login{
            text-align: center;
            color:#fff;
            font-size: 28px;
        }
    }

    .middle{
        padding:20px;
        .box{
            border-radius: 10px;
            height:auto;
            background: #fff;
            padding:20px;
            h3{
                color:red;
                text-align: center;
                border-bottom:1px solid #ccc;
                padding-bottom:10px;
            }
            p{
                color:gray;
                text-align: center;
            }
            
            #media{
                color:gray;
                border-bottom:1px solid #ccc;
                padding-bottom:10px;
            }
            .fingerPrints{
                width:100%;               
                height:auto;               
                .fingerIcon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width:100px;
                        height:100px;
                        border-radius: 50%;
                        border:15px solid transparent;
                        outline: 1px solid red;
                    }
                }
                
            }
            .socialMedia{
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom:1px solid #ccc;
                padding-bottom:10px;
                ion-icon{
                    padding-right:15px;
                    font-size: 28px;
                }
                ion-icon:nth-child(1){
                    color:#4267B2;
                }
                ion-icon:nth-child(2){
                    color:#1DA1F2;
                }
                ion-icon:nth-child(3){
                    color:#DB4437;
                }
            }
            
            .touchLogin{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                color:#fff;
                border-bottom:1px solid #ccc;
                ion-icon {
                    font-size: 20px;
                    margin-right:5px;
                    color:red;
                }
              }
              
              .faceLogin{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                color:#fff;
                border-bottom:1px solid #ccc;
                ion-icon {
                    font-size: 20px;
                    margin-right:5px;
                    color:red;
                }
              }
            
        }
    }

    .navigator {
        display: flex;
        justify-content: center;
        width: 100%;
        p{
            color:#fff;
        }
      }

      
    
}