@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
ion-header {
    font-family: 'Poppins', sans-serif;
    ion-icon {
        font-size: 30px;
        position: relative;
        margin-right: 10px;
    }
    #notifications-badge {
        background-color: rgb(67, 7, 233);
        position: absolute;
        top: 5px;
        right: 50px;
        color: #fff;
        z-index: 111;
    }
    #notifications-badge-msg {
        background-color: rgb(67, 7, 233);
        position: absolute;
        top: 5px;
        right: 95px;
        color: #fff;
        z-index: 111;
    }
    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 10px;
    }
}

ion-content {
    --background: #f0f0f2;
    font-family: 'Poppins', sans-serif;
    .upperBox {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        height: auto;
       margin-bottom:10px;
        padding:20px; 
        h3{
            font-size: 20px;
            color:red;
        }  
        
        ion-button{
            --background:#f15b3a;
        }
         
    }
}