<ion-header>
  <ion-toolbar color='danger'>
    <ion-title>Patricia LukeS</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close">Click Me</ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chef-box">
    <div class="upper-box">
      <div class="img">
        <img src="../../../assets/001.JPG" />
      </div>
      <div class="name-text">

        <h5>Patricia Luke</h5>
        <p>Houston, Texas</p>
        <p><ion-icon name="star"></ion-icon> <span>4.0</span> ( 208 Reviews )</p>
        <p>08:30 AM - 09:00 PM</p>


      </div>

      <div class="hour-text">
        <p class="ion-text-end">1.0KM <ion-icon color="danger"  name="ellipsis-vertical-outline" (click)="presentPopover($event)"></ion-icon></p>
        <h5 class="ion-text-end">$20/Hour </h5>
        <ion-button color="danger">Book</ion-button>
      </div>
      
    </div>
  </div>

  
</ion-content>