<ion-content>
  <div class="upper">
    <div class="icon">
      <ion-icon name="restaurant"></ion-icon>
    </div>
    <p id="login">HOTEL MANAGMENT APP</p>
  </div>
  <div class="middle">
    <div class="box">     
      <h3 > Sign In Using Touch ID</h3>
      <p id="media"> Place your finger on the fingerprint sensor to login your account</p>
      <div class="fingerPrints">
        <div class="fingerIcon">
          <ion-icon name="finger-print-outline"></ion-icon>
        </div>
        <p id="media"> Verifing...</p>
      </div>
      <div class="socialMedia">
        <ion-icon name="logo-facebook" (click)="facebookLogin()"></ion-icon>
        <ion-icon name="logo-twitter" (click)="twitterLogin()"></ion-icon>
        <ion-icon name="logo-google" (click)="gmailLogin()"></ion-icon>
      </div>
      
      <div class="faceLogin" (click)="faceLogin()">
        <ion-icon name="eye-outline"></ion-icon>
        <p> Sign In With Face ID</p>
      </div>
    </div>
  </div>
  <div class="navigator">
    <p (click)="emailLogin()">Login With Email</p>
  </div>



</ion-content>